VITE_PARTICIPANTS_CSV_URL=/data/participants.csv
VITE_TEAMS_CSV_URL=/data/teams.csv
VITE_INVESTMENTS_CSV_URL=/data/investments.csv
VITE_GROUP_RESULTS_CSV_URL=/data/group-results.csv
VITE_MATCHES_CSV_URL=/data/matches.csv
